<div class="center jumbotron">
  <h1>Create event </h1>

  <%= form_for :event, url: events_path do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :date %>
  <%= f.date_select :date %>


  <%= f.submit "Submit", class: "btn btn-lg btn-primary" %>

  <% end %>

</div>
